@font-face {
  font-family: "vaziri";
  src: url("../fonts/Vazir.eot");
  src: url("../fonts/Vazir.ttf"), 
       url("../fonts/Vazir.woff"),
       url("../fonts/Vazir.woff2");
}
$font-family-vaziri:'vaziri';