$light-color: #f4f4f4;
$primary-color: linear-gradient(
  333deg,
  rgb(43, 1, 121) 0%,
  rgb(43, 1, 121) 0%,
  rgb(121, 56, 242) 100%,
  rgb(121, 56, 242) 100%
);
$secondary-color: rgb(121, 56, 242);
$medium-color:#ccc;
$white-color: white;
$max-with: 1400px;
$img:url('../img/frontend-intro.svg');
